@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@600&display=swap');
 
.titulo_materia{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 89.554px */
    letter-spacing: 9.6px;
    padding-left: 96px;
    padding-right: 89px;
}
 
.titulo_materia:last-child{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.subtitulo_materia{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 89.554px */
    letter-spacing: 9.6px;
    padding-left: 96px;
    padding-right: 89px;
    padding-bottom: 680px;
}
 
.subtitulo_materia:last-child{
    background: linear-gradient(265deg, #CAE6FF 14.38%, #73FCFD 63.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%;
    letter-spacing: 9.6px;
}
 
.texto_materia{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 102%; /* 36.72px */
    letter-spacing: 3.6px;
}
 
.texto_materia:last-child{
    width: 903px;
    height: 221px;
    flex-shrink: 0;
    padding-left: 160px;
   
}
 
.titulo-aula{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height:  89.554px;
    letter-spacing: 9.6px;
    padding-left: 420px;
    padding-right: 89px;
   
}
 
.titulo-aula :last-child{
    background: lightgray 50% / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.titulo_materia{
    text-shadow: 0px 4px 4px #FFF(0, 0, 0, 0.25);
    font-family: Montserrat,  sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.554px
   
}
 
.titulo_materia:last-child{
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.subtitulo_materia{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4px;
    padding-left: 320px;
    padding-right: 89px;
    padding-bottom: 40px;
}
 
.subtitulo_materia :last-child{
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.texto_materia{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.8px;
    padding-left: 320px;
    padding-right: 89px;
   
}
 
#html{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 50px 10px;
   
}
 
 
#css{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 50px 10px;
    align-items: center;
   
   
}
 
#eclipse{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 50px 10px;
   
}
 
 
#java{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 50px 10px;
    align-items: center;
   
   
}
 
#packet{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 110px 10px;
    align-items: stretch;
   
   
}
 
#linux{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 20px 10px;
   
}
 
 
#windows{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 20px 10px;
    align-items: center;
   
   
}
 
#virtual{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 20px 10px;
    align-items: stretch;
}
   