@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@600&display=swap');
 
.materia-bg{        
    width: 100%;
   
}
 
.titulo-img{
    width: 1164px;
    height: 842px;
    flex-shrink: 0;
    background-repeat: cover no-repeat;
    text-shadow:  lightgray 50%
}

.titulo_materia{
    width: 418.667px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.554px;
    letter-spacing: 9.6px;
    padding-left: 160px 417px 1334.33px 2081px;
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.subtitulo_materia{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(265deg, #CAE6FF 14.38%, #73FCFD 63.26%);
    font-family: Montserrat, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.554px;
    letter-spacing: 9.6px;
    padding-left: 96px;
    padding-right: 89px;
    padding-bottom: 680px;
   
   
}
 
.subtitulo_materia:last-child{
    background: linear-gradient(265deg, #CAE6FF 14.38%, #73FCFD 63.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 96px;
    line-height: 93.285%;
   
}
 
.texto_materia{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 102%; /* 36.72px */
    letter-spacing: 3.6px;
}
 
.texto_materia:last-child{
    width: 903px;
    height: 221px;
    flex-shrink: 0;
    padding-left: 160px;
   
}
 
.titulo-aula{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height:  89.554px;
    letter-spacing: 9.6px;
    padding-left: 420px;
    padding-right: 89px;
   
}
 
.titulo-aula :last-child{
    background: lightgray 50% / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.titulo_materia{
    text-shadow: 0px 4px 4px #FFF(0, 0, 0, 0.25);
    font-family: Montserrat,  sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.554px;
    background: linear-gradient(to bottom right, #AD00FF 0%, #FFF 0%, #73FCFD 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #AD00FF 0%, #FFF 0%, #73FCFD 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #AD00FF 0%, #FFF 0%, #73FCFD 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #AD00FF 0%, #FFF 0%, #73FCFD 50%) top right / 50% 50% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.titulo_materia:last-child{
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.subtitulo_materia{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4px;
    padding-left: 320px;
    padding-right: 89px;
    padding-bottom: 40px;
}
 
.subtitulo_materia :last-child{
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.texto_materia{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.8px;
    padding-left: 320px;
    padding-right: 89px;
   
}

.imgs-ma{
filter: drop-shadow(20px 7px 5px gray);
}

.tit-lim{
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    background: linear-gradient(258deg, #FBFDFF 36.59%, #73FCFD 58.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}