.recurso-bg{
    background-color: black;
    background-image: url('/img/fundo_paginas.jpg');
    background-size: cover;
    width: 100%;
}


.recursos-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}

.img-recursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 195px;
}


#texto_recursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid blue;
}