
.recursos-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}

.img-recursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 195px;
}


#texto_recursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-computador{
    display: grid;
    place-items: center;
}
.info{
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 89.554px */
    letter-spacing: 9.6px;
}