
.img-recursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 195px;
}

#hardware{
    padding-top: 200px;
    padding-left: 200px;
}

.img-linux,
#img-computador, 
#info-compu{
    display: grid;
    place-items: center;
}

#info{
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 89.554px */
    letter-spacing: 9.6px;
}

#nome-compu{
    padding-top: 100px;
    color: #FFF;
    text-align: center;
font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
    letter-spacing: 4px;
}
#descri-compu{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3.2px;
}
