body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-77xl: 96px;
  --font-size-base: 16px;

  /* Colors */
  --color-gray: rgba(255, 255, 255, 0);
  --color-white: #fff;
}
