*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-bg{
    background-color: black;
    background-color: linear-gradient(180deg, rgba(172, 172, 172, 0.08) 0%, rgba(172, 172, 172, 0.08) 100%);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-left: 130px;
    width: 100%;
    height: auto;
    flex-shrink: 0; 
}
.header-menu{
    flex-wrap: wrap;
    display: flex;
    gap: 70PX;
    list-style-type: none;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}