#linux,
#hardware{
    padding-bottom: 200px;
}

.linux-conteiner,
.recursos-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}

.texto-linux,
.texto_recursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-supremo{
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 119.405px */
    letter-spacing: 12.8px;
    background: linear-gradient(228deg, #FFF 26.1%, rgba(255, 255, 255, 0.00) 123.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitulo_central{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4px;
    padding-left: 75px;
    padding-right: 89px;
    /* padding-bottom: 40px; */
    padding-bottom: 9px;
    padding-top: 155px;
}

.texto_central{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.8px;
    padding-left: 75px;
    padding-right: 150px;
    padding-bottom: 160px; 
}