
.header-home,
.logo-icon {
  position: absolute;
  top: 0;
}
.logo-icon {
  left: 136px;
  width: 85.3px;
  height: 74.5px;
  object-fit: cover;
}
.header-home {
  display: flex;
  justify-content: space-between;
  left: 0;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 80px;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}

.lista-home {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

 .nav {
  color: #F5F9FF;
  top: 30px;
  width: 106.7px;
  height: 13.8px;
  cursor: pointer;
  position: absolute;
} 

#titulo-home {
    margin: 190px 80px 0px;
    background: linear-gradient(180deg, #4E3BBF 8.01%, #5E53A5 38.25%, #5C41FF 99.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 89.554px */
    letter-spacing: 9.6px;
}

#titulo-home2 {
    margin: 0px 80px;
    background: linear-gradient(180deg, #F5F9FF 8.01%, #6E7176 46.96%, #FFF 99.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%;
    letter-spacing: 9.6px;
    }

.squad {
    margin: 80px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 93.285%; /* 22.388px */
    letter-spacing: 2.4px;

}

.apresentacao {
  margin: 80px;
  width: 494px;
  height: 196px;
  flex-shrink: 0;
  color: #D1D1D1;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 102%; /* 24.48px */
  letter-spacing: 2.4px;
}