@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

#titulo-home {
    background: linear-gradient(180deg, #4E3BBF 8.01%, #5E53A5 38.25%, #5C41FF 99.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 93.285%; /* 89.554px */
    letter-spacing: 9.6px;
}

#titulo-home2 {
    background: linear-gradient(180deg, #F5F9FF 8.01%, #6E7176 46.96%, #FFF 99.78%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Montserrat', sans-serif;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 93.285%;
letter-spacing: 9.6px;
}
